{% assign projects = include.projects | default: site.projects | sort: "date" | reverse %}
{% assign project_limit = include.limit | default: projects.size %}

<p style="text-align:left; margin-bottom:1ch;">
  {% if projects.size > 0 %}
      {% for project in projects limit: project_limit %}
          <a href="{{ project.url | relative_url }}" {% include conditional-color.html entity=project %}>
              {{ project.title }}
          </a>
          {% include project-meta.html project=project %}
          {% if project.description %}
            <p>{{ project.description }}</p>
          {% endif %}
      {% endfor %}
  {% else %}
    <p>No projects yet.</p>
  {% endif %}
</p>