---
layout: default
---

<h1 class="heading">About</h1>
<hr>

<p>
  Hi there, I'm Marcos Pivetta! I’m a data scientist by trade, but I love dipping my feet in all sorts of other computer-related things. This is my personal space where I share projects and thoughts.
</p>

<h2 class="heading">Articles</h2>
<hr>
{% include post-list.html %}

<h2 class="heading">Projects</h2>
<hr>
{% include project-list.html limit=3 %}
<p style="display:flex; justify-content:flex-end;"><a href="{{ '/projects/' | relative_url }}">All projects</a></p>

<hr>
<center><span class="sun">*</span></center>
